.hobby_body{
	background-image: url(../../images/hobbyChoose/lock-screen-background.png);
	background-size: 100% 100%;
	height: 100%;
	margin: 0 !important;
	display: flex;
	flex-direction: column;
	-webkit-flex-direction: column;
}
.hobbychoose_top{
	color: rgb(178,196,202);
	text-align: center;
	font-size: 1.6rem;
	padding: 2rem 0;
}
.hobby_bottom{
	display: flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	flex: 1;
}
.hobby_choose_div{
	flex: 1;
	-webkit-flex: 1;
	align-content: center;
	-webkit-align-content: center;
	align-items: center;
	-webkit-align-items: center;
	text-align: center;
}
.hobby_choose_div img{
	width: 30%;
	display: inline-block;
}
.hobby_choose_div span{
	font-size: 1.3rem;
	color: rgb(178,196,202);
	display: block;
	font-weight: 600;
}
