.main_html{
	height: 100%;
}
.main_html body{
	margin: 0 !important;
	display: flex;
	height: 100%;
	-webkit-flex-direction: column;
}

.main_top_pages{
	flex: 1;/*让所有弹性盒模型对象的子元素都有相同的长度，*/
	display: -webkit-flex;/*一个元素被定义display:-webkit-flex;则此元素即为伸缩盒模型中的伸缩容器*/
	width: 100%;
	height: 100%;
	
}

/*上部分样式*/
/*赛程样式*/
.div_schedule{
	display: none;
}
/*选中时候的样式*/
.div_schedule.active{
	display: -webkit-flex;
	flex-direction: column;
	flex: 1;
}

/*轮播图*/
.carousel{
	height: 10rem;
}
.carousel img{
	height: 10rem;
}

/*选项卡*/
.choose_card_div{
	/* 清除浮动效果    zoom: 1; 是在处理兼容性问题*/
	overflow: auto; zoom: 1;
}

.choose_card_div div{
	display: inline-block;
	width: 50%;
	float: left;
	text-align: center;
	color: white;
	padding: 0.6rem 0;
}

.choose_card_div div:nth-of-type(1){
	background: rgb(220,119,67);
	border-right: 1px solid rgb(69,80,57);
	border-top: 1px solid rgb(69,80,57);
}
.choose_card_div div:nth-of-type(2){
	background: rgb(198,216,82);
	border-left: 1px solid rgb(69,80,57);
	border-top: 1px solid rgb(69,80,57);
}
.choose_card_div div:nth-of-type(3){
	background: rgb(100,169,198);
	border-right: 1px solid rgb(69,80,57);
	border-top: 1px solid rgb(69,80,57);
}
.choose_card_div div:nth-of-type(4){
	background: rgb(198,109,153);
	border-left: 1px solid rgb(69,80,57);
	border-top: 1px solid rgb(69,80,57);
}
.choose_card_div div:nth-of-type(5){
	background: rgb(3,3,3);
	border-right: 1px solid rgb(69,80,57);
	border-top: 1px solid rgb(69,80,57);
}
.choose_card_div div:nth-of-type(6){
	background: rgb(3,3,3);
	border-left: 1px solid rgb(69,80,57);
	border-top: 1px solid rgb(69,80,57);
}

/*精彩推荐*/
.recommend_div{
	background: rgb(29,76,82);
	color: white;
	padding: 0.6rem;
}

/*内容界面*/
.content_out_div{
	flex: 1;
	display: -webkit-flex;
	background: #F2F2F2;
	width: 100%;
	overflow: scroll;
	/*scroll	内容会被修剪，但是浏览器会显示滚动条以便查看其余的内容。*/
}
.content_out_div>div{
	flex: 1;
}

/*左侧内容区域*/
.left_content_div{
	height: 100%;
}

.left_content_div .content_div{
	display: -webkit-flex;
	padding: 0.3rem 0;
	border-bottom: 1px solid #d9d9d9; 
}
.left_content_div .content_img img{
	width: 3rem;
	height: 2.5rem;
}
.left_content_div .content_div_left{
	flex: 1;
	padding: 0 0.3rem;
}
.left_content_div .content_top{
	font-size: 0.8rem;
	color: rgb(89,100,243);
}
.left_content_div .content_middle{
	font-size: 0.3rem;
	color: #999999;
}
.left_content_div .content_bottom{
	font-size: 0.5rem;
	color: #666666;
}

/*右侧内容区域*/
.right_content_div{
	height: 100%;
}

.right_content_div .content_div{
	display: -webkit-flex;
	padding: 0.3rem 0;
	border-bottom: 1px solid #d9d9d9; 
}
.right_content_div .content_img img{
	width: 3rem;
	height: 2.5rem;
}
.right_content_div .content_div_right{
	flex: 1;
	padding: 0 0.3rem;
}
.right_content_div .content_top{
	font-size: 0.8rem;
	color: rgb(89,100,243);
}
.right_content_div .content_middle{
	font-size: 0.3rem;
	color: #999999;
}
.right_content_div .content_bottom{
	font-size: 0.5rem;
	color: #666666;
}



/*赛程样式*/
.div_game{
	display: none;
}
.div_game.active{
	background: red;
	display: -webkit-flex;
	flex-direction: column;
	flex: 1;
}

/*工具箱样式*/
.div_tool{
	display: none;
}
.div_tool.active{
	background: green;
	display: -webkit-flex;
	flex-direction: column;
	flex: 1;
}
/*社区样式*/
.div_club{
	display: none;
}
.div_club.active{
	background: gold;
	display: -webkit-flex;
	flex-direction: column;
	flex: 1;
}
/*消息样式*/
.div_info{
	display: none;
}
.div_info.active{
	background: greenyellow;
	display: -webkit-flex;
	flex-direction: column;
	flex: 1;
}
/*我的样式*/
.div_mine{
	display: none;
}
.div_mine.active{
	background: red;
	display: -webkit-flex;
	flex-direction: column;
	flex: 1;
}



/*底部样式*/
.main-bottom{
	position: fixed;
	top:90%;
	left:0px;
	bottom:0;
	display: -webkit-flex;
	font-size: 1rem;
	height: 4.3rem;
	background: rgb(216,215,213);
	width: 100%;
}
.main-bottom div{
	text-align: center;
	padding: 0.3rem 0;
}
.main-bottom img{
	width: 50%;
	text-align: center;
}
.main-bottom span{
	display: block;
}
