<!DOCTYPE html>
<html lang="en" style="height: 100%;">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
			content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<title>性别选择页面</title>
		<link rel="stylesheet" href="../../css/bxy/main.css">
		<link rel="stylesheet" href="../../css/bxy/all.css">
	
		<link rel="stylesheet" href="../../css/jqueryMobile/jquery.mobile-1.4.5.min.css"/>
		<script src="../../js/jQuery/jquery-2.2.3.min.js"></script>
		<script src="../../js/jqueryMobile/jquery.mobile-1.4.5.min.js"></script>
		
		<script src="../../js/bxy/gender.js"></script>
	</head>
	<body>
		<div data-role="page" class="main">
			<div data-role="content">
				<div  class="text">
					<p>
		     		有头有脸，有名有姓<br/> 
		        	更受欢迎
					</p>
	
			<!--这里是上传用户头像，未完成。
				我用按钮代替了头像。点击按钮选择图片文件，上传头像。
			action为空-->
			<div  class="ui-content">
        		<div class="file-box">
            		<form action=".jsp" method="post" enctype="multipart/form-data"  data-ajax="false">
               			<!--上传用户头像-->
               			<div>
               				<input type="file" accept="image/png" name="fileField" id="fileField"  />
						</div>
						
						<!-- 上传用户昵称 -->
						<div data-role="fieldcontain">
        					<input type="text" name="name" id="name" placeholder="您的昵称">
      					</div>
      					<input type="submit" value="完成"/>
            		</form>
        		</div>
    		</div>
    		
			</div>
		</div>
	</body>
</html>