<!DOCTYPE html>
<html lang="en" style="height: 100%;">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
			content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<title>性别选择页面</title>
		<link rel="stylesheet" href="../../css/bxy/main.css">
		<link rel="stylesheet" href="../../css/bxy/all.css">
	
		<link rel="stylesheet" href="../../css/jqueryMobile/jquery.mobile-1.4.5.min.css"/>
		<script src="../../js/jQuery/jquery-2.2.3.min.js"></script>
		<script src="../../js/jqueryMobile/jquery.mobile-1.4.5.min.js"></script>
		
		<script src="../../js/bxy/gender.js"></script>
	</head>
	<body>
		<div data-role="page" class="main">
			<div data-role="content">
				
    			<a href="alias.html" id="tiaoguo">跳过</a>
    				
				<div class="weight_image" align="center">
					<img src="../../images/bxy/lady.png" />
				</div>
				<!--<div class="ui-grid-a">
					<div class="ui-block-a">
					
					</div>
					
					<div class="ui-block-b">
						
					</div>					
				</div>-->
				<div data-role="controlgroup" data-type="horizontal" class="btn">
					<a href="ladyHeight.html" data-role="button" data-corners="true" data-transition="slide">
					上一步
					</a>
	  				<a href="alias.html" data-role="button" data-corners="true" data-transition="slide">
	  				下一步
	  				</a>
	  			</div>	
			</div>
		</div>
	</body>
</html>