<!DOCTYPE html>
<html lang="en" style="height: 100%;">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
			content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<title>性别选择页面</title>
		<link rel="stylesheet" href="../../css/bxy/main.css">
		<link rel="stylesheet" href="../../css/bxy/gender.css">
	
		<link rel="stylesheet" href="../../css/jqueryMobile/jquery.mobile-1.4.5.min.css"/>
		<script src="../../js/jQuery/jquery-2.2.3.min.js"></script>
		<script src="../../js/jqueryMobile/jquery.mobile-1.4.5.min.js"></script>
	</head>
		
	<body >	
		<div data-role="page" class="main">
			<div data-role="content">
				<div  class="text">
					<p>
		     		我们会根据您的身体资料<br/> 
		        	优化您的运动算法
					</p>
				</div>
				
				<!--
					性别单选按钮作为表单提交，action暂时为空
					这里可以不用js提交数据，直接使用action调用jsp。
				-->
<!--				注释掉的部分是原来写的代码
				<form id="gender" action=".jsp" method="post" align="center">   
		        	<fieldset data-role="controlgroup"> 
		        		
                        	“男生”按钮，有onclick事件进行页面跳转。
                        	male()函数跳转页面。
                        
		        		<div  class="man">
		            	 <label for="man" class="ui-hidden-accessible">男</label>
		            	<input type="image" name="man" id="male" value="male"  checked="checked" 
		            		src="../../images/bxy/man.png" onclick="male()"/>  
		  				</div>
		  				
		  			
                        	“女生”按钮
                      
		  				<div class="lady">
		                 <label for="lady" class="ui-hidden-accessible">女</label>
		            	<input type="image" name="lady" id="female" value="female" 
		            		src="../../images/bxy/lady.png" onclick="female()"/>  
		                </div>        	
		        	</fieldset>  
		       </form>      
-->
		       
		       <div class="gender">
					<div class="gender_div">
						<img src="../../images/bxy/man.png" id="man"/>
					</div>	
					
					<div class="gender_div">
						<img src="../../images/bxy/lady.png" id="lady"/> 
					</div>	
				</div>
			</div>
		</div>
	</body>
	
	<script src="../../js/urlApi/api.js"></script>
	<script src="../../js/common/common.js" type="text/javascript"></script>
	<script src="../../js/bxy/gender.js" type="text/javascript"></script>
</html>
