<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>我的中心</title>
<link rel="stylesheet" href="../../css/personinfo/mylevel.css">
<script type="text/javascript" src="../../js/jQuery/jquery-3.2.1.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	var urlUserId=comm.getUrlParameter("userid");
	  $(".button_back").click(function(){
	    window.location.href="../imformation/coachinfo.html?userid="+urlUserId;
	  });
});
</script>
</head>
<body>
<h1 class="p1">常去场地</h1>
<input type="button" class="button_back" value="">
<script src="../../js/urlApi/api.js"></script>
	<script src="../../js/common/common.js" type="text/javascript"></script>
</body>
</html>
