<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>人员信息</title>
<link rel="stylesheet" href="../../css/personinfo/invitefriend.css">
<script type="text/javascript" src="../../js/jQuery/jquery-3.2.1.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $(".button_back").click(function(){
    window.location.href="../../views/imformation.html";
  });
});
</script>
</head>
<body>
<h1 class="p1">邀请好友</h1>
<input type="button" class="button_back" value="">
<input type="button" class="button_weixin" value="">
<input type="button" class="button_qq" value="">
<input type="button" class="button_weibo" value="">

</body>
</html>