<!DOCTYPE html>
<html class="hobbySelectSnow_html">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../css/pageCss/hobbySelectSnow.css" />
		<title></title>
	</head>

	
	<body class="hobby_body">
		<div class="hobby_select_snow_top">
			<a href="hobbyChoose.html"></a>
			<span>请选择雪上运动项目</span>
		</div>
		<div class="hobby_bottom">
			<div class="hobby_select_snow_div">
				<img src="../../images/hobbyChoose/danban.png" />
				<span>我是玩单板的</span>
			</div>	
			<div class="hobby_select_snow_div">
				<img src="../../images/hobbyChoose/shuangban.png" />
				<span>我是玩双板的</span>
			</div>	
			<div class="hobby_select_snow_div">
				<img src="../../images/hobbyChoose/douwan.png" />
				<span>我单双板都玩</span>
			</div>	
		</div>
	</body>
</html>
