@charset "utf-8";

.gender{
	display: flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	flex: 1;
}

.gender_div{
	flex: 1;
	-webkit-flex: 1;
	align-content: center;
	-webkit-align-content: center;
	align-items: center;
	-webkit-align-items: center;
	text-align: center;
	margin: 3rem;
}
.text p{
	 color: #fff;
	 text-shadow:none !important;
	 font-size: 1.5rem;
}