<!DOCTYPE html>
<html class="chiganfangshi_html">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=dervice-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../css/roleChoose/chiganfangshi.css" />
		<title></title>
	</head>
	
	<body>
		<body class="chiganfangshi_body">
		<div class="chiganfangshi_top">
			<span>请选择你的爱好</span>
		</div>
		<div class="chiganfangshi_bottom">
			<div class="chiganfangshi_left">
				<div>
					<img src="../../images/roleChoose/zuoshougan.png" />
					<span>左手杆</span>
				</div>
			</div>	
			<div class="chiganfangshi_right">
				<div>
					<img src="../../images/roleChoose/youshougan.png" />
					<span>右手杆</span>
				</div>
			</div>	
	
		</div>
	</body>
	</body>
</html>
