<!DOCTYPE html>
<html style="height: 100%;">
	<head>
		<meta charset="UTF-8">
	
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../css/roleChoose/role.css" />
		<title></title>
	</head>
	
<body class="role_body">
		<div class="role_top">
			<span>请选择你的角色</span>
		</div>
		<div class="role_bottom">
			<div>
				<div class="left_role_div">
					<img src="../../images/roleChoose/qiuyuan.png" />
					<span>球员</span>
				</div>	
				
				<div class="left_role_div">
					<img src="../../images/roleChoose/jiaolianyuan.png" />
					<span>教练员</span>
				</div>	
				
				<div class="left_role_div">
					<img src="../../images/roleChoose/caipanyuan.png" />
					<span>裁判员</span>
				</div>	
			</div>
			
			<div>				
				<div class="right_role_div">
					<img src="../../images/roleChoose/shoumenyuan.png" />
					<span>守门员</span>
				</div>	
				
				<div class="right_role_div">
					<img src="../../images/roleChoose/xuexiao.png" />
					<span>学校、俱乐部</span>
				</div>
				
				<div class="right_role_div">
					<img src="../../images/roleChoose/xiehui.png" />
					<span>协会、组织</span>
				</div>	
			</div>
		</div>
	</body>
</html>
