<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../css/pageCss/sex.css" />
		<title></title>
	</head>
	
	
	<body>
		
		<body class="sex_body">
		<div class="sex_top">
			
			<span>我们会根据您的身体资料<br>优化您的运动算法</span>
		
			
		</div>
		<div class="chiganfangshi_bottom">
			<div class="chiganfangshi_div">
				<img src="../../images/roleChoose/man.png" />

			</div>	
			<div class="chiganfangshi_div">
				<img src="../../images/roleChoose/lady.png" />
			</div>	
	
		</div>
	</body>
</html>
